<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<!-- replaced by router outlet <app-menu></app-menu> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
