<div class="container"
     fxLayout="row wrap"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px" 
     fxLayoutGap.xs="0">

  <div fxFlex="100">
    <div>
      <h3>{{dish.name | uppercase}}</h3>
      <hr>
    </div>
  </div>
    
  <div fxFlex="40">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40">
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile-header><h2>Comments</h2></mat-grid-tile-header>
      <mat-grid-tile *ngFor="let comment of dish.comments">
          <span>{{comment.comment}}<br />{{comment.rating}} Stars<br />-- {{comment.author}}, {{comment.date | date}}</span>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  

</div>

